# Lab-2 Practice

Please read and understand each cell/line of code carefully and answer the embedded exercises. Feel free to try each cell and play around with it to try different output.

ðŸ”¥**There will be a canvas quiz where you will get simillar questions like the ones in this notebook** 

Enjoy ðŸ˜„...

**Jupyter notebook basics**

- This is a markdown cell, the next ones are code cells
- The notebook is running a kernel (here, Python), the code cells are executed by this kernel
- Move around: `arrow keys or j, k`
- Run a cell and go to next cell: `Shift+Enter`
- Go to edit mode to edit a cell: `click or Enter`
- Get help about while editing: `Shift-Tab`, press twice to get more help
- Back to command mode from edit mode: `Esc`
- New cell above: `a`
- New cell below: `b`
- Delete cell: `x`
- Run a cell and insert new cell below: `Alt-Enter`

Some useful shortcuts for **Colab notebooks**
* Run cell: `ctrl + Enter`, 
* Add new code cell `ctrl + m + b`

## Variables and types

Python is dynamically typed. The types belong to the objects and not their names.

For example, `a = 3` assigns the object `3` to the name `a`. The name `a` will reference the object `3` from now on.

`a` can be freely reassigned later.

In [1]:
a = 3 # int
a = True # bool
a = 4.2 # float

Python is strongly typed. For example, `'abc' + 3` would give an error.

## Sequence types

In [2]:
a = 'abc' # str
b = [1, 2, 3, 4, 5] # list
c = (1, 2, 3, 4) # tuple

Tuples are denoted by the comma. Multiple assignment is possible with tuples:

In [3]:
a, b = 'abcdef', [1, 2, 3]
print(a,b)

abcdef [1, 2, 3]

In [4]:
a, b

('abcdef', [1, 2, 3])

Strings and tuples are immutable: `a[0] = 'x'` gives an error.

In [5]:
l = [1, 'afgd', True] # lists can have different types in them, although usually they don't

### Some operations

In [6]:
a[0], b[1] # indexing starts from 0

('a', 2)

In [7]:
a[:3] # slicing, up to but not including index 3

'abc'

In [8]:
a[3:] # slicing from index 3

'def'

In [9]:
a + 'aa' # concatenation

'abcdefaa'

In [10]:
a[:3] + a[3:] # gives back the original sequence

'abcdef'

In [11]:
a[1:3] # from index 1 to 3

'bc'

In [12]:
a[-1] # the last element

'f'

In [13]:
a[-2]

'e'

In [14]:
len(a), len(b), len(c) # lengths

(6, 3, 4)

In [15]:
# appending to a list
print(b)
b.append(34)
print(b)

[1, 2, 3]
[1, 2, 3, 34]

In [16]:
# popping elements from a list
print(b)
b.pop(0)
print(b)
b.pop()
print(b)

[1, 2, 3, 34]
[2, 3, 34]
[2, 3]

## Some expressions and statements

In [17]:
3 + 4, 3 * 4

(7, 12)

In [18]:
a = 2
a += 3
a

5

In [19]:
13 / 4, 13 // 4

(3.25, 3)

In [20]:
3 % 2

1

In [21]:
3 == 4, 3 < 4, 4 < 3

(False, True, False)

In [22]:
3 < 4 < 5

True

### if, for, while

In [23]:
a = 4
b = 3
if a < b:
    print("The condition is true.")
elif b < a:
    print("The first elif branch.")
else: print("The else branch.")

The first elif branch.

In [24]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
for e in l:
    print(e)

0
1
2
3
4
5
6
7
8
9

In [26]:
x = 1
while x < 10:
    print(x)
    if x % 3 != 0:
        x += 1
    else:
        x += 3

1
2
3
6
9

#### **Exercise**: Add all the even numbers in l and print the result.

In [27]:
sum =0
for i in l:
    if i % 2 == 0:
        sum+=i
print (sum)

20

#### **Exercise**: Collect all the even number in l into a new list l_even.

In [28]:
l_even=[]
for i in l:
    if i % 2 == 0:
        l_even.append(i)
print (l_even)

[0, 2, 4, 6, 8]

#### **Exercise**: Solve the [FizzBuzz problem](https://en.wikipedia.org/wiki/Fizz_buzz)

In [29]:

for i in l:
    if i % 15 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print ("fizz")
    elif i %5  == 0:
        print ("buzz")
    else:
        print(i)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz

### break, continue, else

In [30]:
l = list(range(10))
import random
random.shuffle(l)
l

[4, 2, 1, 6, 5, 3, 0, 8, 9, 7]

#### 3 versions of a search

In [31]:
to_find = 8
i = 0
for e in l:
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
    i += 1
else:
    print(f'{to_find} was not found in the list')

Found 8 at index 7

In [32]:
list(enumerate(l))

[(0, 4),
 (1, 2),
 (2, 1),
 (3, 6),
 (4, 5),
 (5, 3),
 (6, 0),
 (7, 8),
 (8, 9),
 (9, 7)]

In [33]:
to_find = 8
for i, e in enumerate(l):
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
    i += 1
else:
    print(f'{to_find} was not found in the list')

Found 8 at index 7

In [34]:
to_find = 8
print(f'Found {to_find} at index {l.index(to_find)}') # we would have to handle the exception if the element is not in the list

Found 8 at index 7

#### continue

In [35]:
for i in range(10):
    if i % 3 != 0:
        continue
    print(i)

0
3
6
9

#### **Exercise**: Find the largest even number in l

In [36]:
l = list(range(20))
random.shuffle(l)
l

[7, 1, 8, 3, 15, 9, 10, 5, 2, 11, 4, 13, 17, 14, 18, 19, 16, 6, 0, 12]

In [37]:
maxNum = -1
for i in l:
    if maxNum < i and i % 2 == 0:
        maxNum = i
print(maxNum)
print (l)

18
[7, 1, 8, 3, 15, 9, 10, 5, 2, 11, 4, 13, 17, 14, 18, 19, 16, 6, 0, 12]

## List comprehensions(new concept)

A Python list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element in the Python list. 

Python List comprehension provides a much more short syntax for creating a new list based on the values of an existing list.

**Advantages of List Comprehension**
* More time-efficient and space-efficient than loops.
* Require fewer lines of code.
* Transforms iterative statement into a formula.

**Syntax of  List Comprehension**

`newList = [ expression(element) for element in oldList if condition ]`

More info can be found [here](https://www.w3schools.com/python/python_lists_comprehension.asp) or [here](https://www.geeksforgeeks.org/python-list-comprehension/)

In [38]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [39]:
[(x, x**2) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [40]:
[(x, x**2) for x in range(5) if x % 2 == 0]

[(0, 0), (2, 4), (4, 16)]

#### **Exercise**: write a list comprehension to collect all the strings with length 3

In [41]:
l = ['bacd', 'abc', 'ab', 'a', 'bcd', 'cdef', 'cde']

In [42]:
[x for x in l if len(x) == 3]

['abc', 'bcd', 'cde']

## Sets and dictionaries

### Sets

In [43]:
a = {1, 2, 3, 4}
a

{1, 2, 3, 4}

In [44]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [45]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [46]:
l = list(range(5)) + list(range(5))
l

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [47]:
set(l)

{0, 1, 2, 3, 4}

In [48]:
3 in a, 13 in a

(True, False)

In [49]:
for e in a:
    print(e)

1
2
3
4
5

#### **Exercise**: Add the unique elements of l. If you already encountered an element, don't add it to the sum

In [60]:
l = [1, 1, 2, 3, 2, 4, 5, 2, 3]

In [72]:
sett = {}
for e in l:
    sett[e] = 1
se = [value for value in sett]
se1 = [ x for i, x in enumerate(se) if x not in l[:i]]
print (se1)
print (se)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [51]:
sl = set(l)
sum = 0
for i in sl:
    sum += i
print (sl)
print (sum)

{1, 2, 3, 4, 5}
15

### Dictionaries

In [52]:
d = {'a' : 1, 'b': 5}
d

{'a': 1, 'b': 5}

In [53]:
d['a']

1

In [54]:
d['c'] = 35

You can assign to any key, but can only access existing keys: `d['d']` would give an error.

In [55]:
for key in d:
    print(key, d[key])

a 1
b 5
c 35

In [56]:
for key, value in d.items():
    print(key, value)

a 1
b 5
c 35

### Set and dictionary comprehensions

In [57]:
{x**2 for x in a if x % 2 == 0}

{4, 16}

In [58]:
d = {x: x**2 for x in range(10) if x%2 == 1}
d

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

#### **Exercise**: Invert the dictionary d. The keys should be the values, and the values should be the keys.

In [59]:
d1 = {v:k for k, v in d.items()}
print (d1)

{1: 1, 9: 3, 25: 5, 49: 7, 81: 9}